.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 48px;
}
.titleStyles {
  font-size: 56px;
  margin: 0;
  color: #45533c;
}
.secondaryTitleStyles {
  font-size: 48px;
  margin: 0;
  color: #45533c;
}
.leadTextWrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 24px;
  font-weight: 200;
  font-size: 19px;
  text-align: center;
}
@media (min-width: 768px) {
  .titleStyles {
    font-size: 64px;
  }
  .leadTextWrapper {
    text-align: unset;
  }
}
