.preFooterDesign {
  display: flex;
  position: absolute;
  width: 100%;
  height: 200px;
  padding: 0;
  margin-top: -200px;
  z-index: -1;
  padding-top: 50px;
  overflow: hidden;
}
.preFooterDesignInnerwrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.leafStyle {
  margin-top: -20px;
}
.leafStyle svg {
  width: 200px;
  transform: rotate(315deg);
  margin-left: -40px;
}
.petalosStyle {
  width: 350px;
  transform: rotate(352deg);
  margin-top: 33px !important;
  margin-left: -124px;
}
.waveStyles {
  margin-top: 12px;
  margin-right: -130px;
  transform: rotate(358deg);
}
.sliderWrapper {
  background-color: #eaefef;
  margin-top: 150px;
  padding-bottom: 150px;
}
.sliderCustomShapeDivider {
  width: 100%;
  position: absolute;
  margin-top: -30px;
  overflow: hidden;
  line-height: 0;
}
.footer {
  background-color: #9cc6ad;
  width: 100vw;
  color: white;
  margin-top: -30px;
  position: relative;
}
.customShapeDividerTop {
  width: 100%;
  position: absolute;
  margin-top: -30px;
  overflow: hidden;
  line-height: 0;
}
.customShapeDividerTop svg,
.sliderCustomShapeDivider svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 49px;
}
.white {
  fill: #fff;
}
.green {
  fill: #9cc6ad;
}
.grey {
  fill: #eaefef;
}
.leaf {
  fill: #44523b;
}
.mainBody {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 6px;
  padding-top: 64px;
}
.logoSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.logoWrapper {
  position: relative;
  height: 45px;
  width: 150px;
  margin-bottom: 20px;
}
.logoAddressSection {
  display: flex;
  flex-direction: column;
}
.linksSection {
  margin-left: 8px;
}
.linksSection li {
  margin-top: 5px;
}
.contactSection {
  display: flex;
  flex-direction: column;
}
.logoAddressSection {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}
.addressBox {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-top: 5px;
}
.logoAddressSection p,
.contact p {
  margin: 0;
}
.pageLinks {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 24px 0;
}
.pageLinks li {
  margin-bottom: 5px;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 6px;
  font-size: 14px;
}
.legalLinkWrapper {
  display: flex;
  margin: 24px 5px;
  order: 1;
}
.legalLinks {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  margin: 0 5px;
}
.legalLinks li {
  list-style: none;
}
.copyWright {
  display: flex;
  margin: 0 8px 5px;
  order: 2;
}
.copyWright p {
  margin: 0;
}
.socialMedia {
  display: flex;
  margin-top: 5px;
}
.facebookWrapper,
.instaWrapper {
  position: relative;
  height: 25px;
  width: 25px;
  margin-right: 4px;
}

@media (min-width: 390px) {
  .logoAddressSection {
    flex-direction: row;
  }
  .mainBody {
    padding: 96px 16px 16px;
  }
  .bottom {
    padding: 16px;
  }
}

@media (min-width: 576px) {
  .logoSection {
    margin-right: 16px;
  }
}
@media (min-width: 768px) {
  .footer {
    font-size: 16px;
    padding-bottom: 8px;
  }
  .mainBody {
    width: 100%;
    margin-bottom: 24px;
    /* margin-top: 24px; */
    padding-top: 96px;
  }
  .logoSection {
    flex-direction: row;
    justify-content: space-between;
  }
  .linksSection {
    margin: 0;
  }
  .pageLinks li {
    margin: 0;
  }
  .contactSection {
    margin: 24px 0;
  }
  .logoAddressSection {
    justify-content: unset;
    flex-direction: column;
  }
  .bottom {
    width: 100%;
    flex-direction: row;
  }
  .legalLinks,
  .legalLinkWrapper {
    margin: 0;
  }
  .legalLinkWrapper {
    order: 2;
  }
  .copyWright {
    order: 1;
  }
  .legalLinks li {
    margin-left: 30px;
    list-style-type: disc;
  }
  .legalLinks > li:first-of-type {
    list-style: none;
  }
  .pageLinks {
    flex-direction: row;
    font-size: 16px;
    margin-top: 32px;
    align-items: center;
  }
  .pageLinks li {
    margin-left: 16px;
  }
  .addressBox {
    margin-left: 16px;
    margin-top: 32px;
  }
  .contact {
    margin-left: 16px;
  }
  .logoWrapper {
    width: 300px;
    height: 90px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  .waveStyles {
    margin-top: -40px;
    margin-right: -24px;
    transform: rotate(358deg);
  }
  /* .preFooterDesign svg {
    margin: unset;
  } */
  .petalosStyle {
    margin-left: unset;
  }
}
@media (min-width: 992px) {
  .logoAddressSection {
    width: 100%;
    flex-direction: row;
  }
  .pageLinks li {
    margin-left: 30px;
  }
  .contact {
    margin-left: 8px;
  }
  .addressBox {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
}
