.heroWrapper {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: column;
}
.heroTitleWrapper {
  display: flex;
  top: 10%;
  flex-direction: column;
}
.heroTitleWrapper h1 {
  color: #9bc5ac;
  font-size: 24px;
}
.heroTitleWrapper h2 {
  font-weight: 200;
  margin-bottom: 48px;
}
.boldTitle {
  font-size: 32px;
}
.designElementWrapper {
  display: none;
  width: 100%;
  justify-content: flex-start;
}
.designElement {
  position: relative;
  width: 200px;
  height: 200px;
  /* margin-top: 20px; */
}
.ctaButtonWrapper {
  display: flex;
  justify-content: flex-end;
  /* width: 100%; */
}
.imageWrapper {
  display: none;
  position: relative;
  justify-content: flex-end;
  /* margin-left: -150px; */
  overflow: hidden;
  margin-top: 24px;
  /* border-top-left-radius: 40px 20px; */
  /* border-top-right-radius: 120px 16px; */
  /* border-radius: 46% 54% 100% 0% / 24% 100% 0% 76%; */
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .designElementWrapper {
    justify-content: flex-start;
  }
  .designElement {
    margin-left: -50px;
  }
  .heroTitleWrapper h1 {
    font-size: 32px;
  }
  .heroTitleWrapper h2 {
    font-weight: 200;
    margin-bottom: 48px;
  }
  .boldTitle {
    font-size: 40px;
  }
  /* .imageWrapper {
    display: none;
  } */
  .ctaButtonWrapper {
    justify-content: flex-start;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .heroWrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .heroTitleWrapper {
    /* grid-column: 1/3;
    grid-row: 1; */
    /* position: absolute; */
  }
  .imageWrapper {
    display: flex;
  }
  /* .heroTitleWrapper h1 {
    width: 40%;
  }
  .heroTitleWrapper h2 {
    width: 44%;
  } */
  .designElementWrapper {
    display: flex;
  }
  .designElement {
    margin-left: -50px;
    margin-top: 50px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
