.heroWrapper {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: column;
}
.heroTitleWrapper {
  display: flex;
  text-align: center;
  top: 10%;
  flex-direction: column;
}
.heroTitleWrapper h1 {
  color: #9bc5ac;
  font-size: 24px;
}
.heroTitleWrapper h2 {
  font-size: 19px;
  font-weight: 200;
  margin-bottom: 48px;
}
.boldTitle {
  font-size: 32px;
}
.designElementWrapper {
  display: none;
  width: 100%;
  justify-content: flex-start;
}
.designElement {
  position: relative;
  width: 200px;
  height: 200px;
}
.ctaButtonWrapper {
  display: flex;
  justify-content: center;
}
.imageWrapper {
  display: none;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .heroTitleWrapper {
    min-width: 370px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .designElementWrapper {
    justify-content: flex-start;
  }
  .designElement {
    margin-left: -50px;
  }
  .heroTitleWrapper {
    text-align: unset;
  }
  .heroTitleWrapper h1 {
    font-size: 32px;
  }
  .heroTitleWrapper h2 {
    font-weight: 200;
    margin-bottom: 48px;
  }
  .boldTitle {
    font-size: 40px;
  }
  .ctaButtonWrapper {
    justify-content: flex-start;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .heroWrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
  }
  .designElementWrapper {
    display: flex;
  }
  .designElement {
    margin-left: -50px;
    margin-top: 50px;
  }
  .imageWrapper {
    display: block;
    position: relative;
    justify-content: flex-end;
    overflow: hidden;
    margin-top: 24px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
