.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.outsideWrapper {
  position: relative;
}
.leftDesignElement,
.rightDesignElement,
.rightBottomDesignElement {
  display: none;
}
@media (min-width: 1200px) {
  .rightDesignElement {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: -100;
    top: 980px;
  }
  .rightBottomDesignElement {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: -100;
    top: 2150px;
  }
  .rightDesignElementWrapper {
    display: flex;
    justify-content: flex-end;
    width: 1600px;
    margin: 0 auto;
  }
  .leftDesignElement {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 1370px;
    z-index: -100;
  }
  .leftDesignElementWrapper {
    display: flex;
    justify-content: flex-start;
    width: 1400px;
    margin: 0 auto;
  }
}
