.mainWrapper {
  width: 100%;
}
.bodyContent {
  max-width: 676px;
  margin: 0 auto;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bodyContent p {
  font-size: 19px;
  font-weight: 200;
}
