/* @font-face {
  font-family: 'Oxygen-Regular';
  src: url('/fonts/Oxygen-Regular.ttf');
  src: local('Oxygen'), local('Oxygen-Regular'),
    url('/fonts/Oxygen-Regular.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
