.mainWrapper {
  width: 100%;
}
.bodyContent {
  max-width: 676px;
  margin: 0 auto;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bodyContent p {
  font-size: 19px;
  font-weight: 200;
}
.outsideWrapper {
  position: relative;
}
.leftDesignElement,
.rightDesignElement,
.rightBottomDesignElement {
  display: none;
}
@media (min-width: 1200px) {
  .rightDesignElement {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: -100;
    top: 100vh;
  }
  .rightBottomDesignElement {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: -100;
    bottom: -100px;
  }
  .rightDesignElementWrapper {
    display: flex;
    justify-content: flex-end;
    width: 1600px;
    margin: 0 auto;
  }
  .rightBottomDesignElementWrapper {
    display: flex;
    justify-content: flex-end;
    width: 1400px;
    margin: 0 auto;
  }
  .rightDesignElementWrapper span {
    transform: rotate(45deg);
  }
  .leftDesignElement {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 1500px;
    z-index: -100;
  }
  .leftSecondaryDesignElement {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 1800px;
    z-index: -100;
  }
  .leftDesignElementWrapper {
    display: flex;
    justify-content: flex-start;
    width: 1400px;
    margin: 0 auto;
  }
  .nutDesignElementWrapper {
    display: flex;
    justify-content: flex-end;
    height: 250px;
    width: 1400px;
    margin: 0 auto;
  }
}
