.upperMain {
  padding: 70px 16px 24px 16px;
  /* min-height: 100vh; */
  max-width: 1200px;
  margin: 0 auto;
}
.lowerMain {
  padding: 24px 16px 24px 16px;
  /* min-height: 100vh; */
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .lowerMain {
    padding: 24px 24px 88px 24px;
  }
  .upperMain {
    padding: 90px 16px 24px 16px;
  }
}
@media (min-width: 768px) {
  .lowerMain {
    padding: 24px 56px 88px 56px;
  }
}
@media (min-width: 992px) {
  .lowerMain {
    padding: 96px 16px 96px 16px;
  }
}
